requests

torch==2.2.1
spacy==3.7.2
spacy-transformers==1.2.5

# large English transformer model (hosted on spaCy's S3)
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.2/en_core_web_trf-3.7.2-py3-none-any.whl

# modal SDK (runtime only)
modal==0.62.0